<h1>Stupid Coaching</h1>

<p>your question:</p>
<p><%= @question %></p>

<p>my answer:</p>
<p><%= @answer %></p>

<!-- <form action="/questions" method="post">
  <input type="text" moi="phrase">
  <input type="submit">
</form> -->
